{% extends "base.html" %}

{% block content %}

{% if validlink %}

<div class="card login-box mx-auto mt-4 p-3">
    <p>Please enter (and confirm) your new password.</p>
    <form action="" method="post">

        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Change my password" />

    </form>
</div>

{% else %}

<h1>Password reset failed</h1>
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

{% endif %}

{% endblock %}