{% extends "base.html" %}
{% load humanize %}

{% block content %}


<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="" aria-current="page"><h4>{{ user.society }} - Events</h4></li>
        <li class=" ml-auto" aria-current="page">

            <a class="btn btn-light" role="button" href="{% url 'dashboard:create_event' %}">Create Event</a>
        </li>
    </ol>
</nav>

<div class="p-2 mt-3">
    {% for event in object_list %}
    <div class="bg-light p-2 my-1">
        <a href="{% url 'dashboard:update_event' event.id %}">{{ event.name }}</a> -
        {% if event.start_day > today %}
        <span class="text-muted">Starts {{ event.start_day|naturaltime }}.</span>
        {% else %}
        <span class="text-muted">Ended {{ event.start_day|naturaltime }}.</span>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}